<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <!-- Logo -->
      <a href="/book" class="navbar-logo">
        <img src="images/logo.png" alt="DataHubly Logo">
        DataHub
      </a>
    </ul>
    <input type="text" class="search-bar" placeholder="Search for learning materials...">
    <div class="search-results">
      <!-- Searched content will be displayed here -->
    </div>
    <!-- Login Button -->
      <!-- Menu Items -->
      <ul class="navbar-menu">
        <li><a href="/about">About Us</a></li>
        <li><a href="/materials"> Materials</a></li>
        <li><a href="/donate">Support</a></li>
      </nav>
      <%- body %>
  </body>
  </html>